<h2></h2>
<section class="card">
  <a href="/blog/{{hid}}" class="card-body">
  <div class="card-title">
    <h3>{{title}}</h3>
    <h4>Posted by {{user.username}} on {{format_date dateCreated}}</h4>
  </div>
  <p class="card-text">{{content}}</p>
  </a>
</section>
<br/>
