<h2></h2>
<section class="card">
  <a href="/blogs/{{hid}}" class="card-body">
  <h3 class="card-title">{{title}}</h3>
  <h4>Posted by {{foundUser.username}} on {{createdAt}}</h4>
  <p class="card-text">{{content}}</p>
  </a>
</section>
